.container {
  text-align: center;
  background-color:deeppink;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.choices {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.choice {
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s;
}


#result {
  margin-top: 20px;
  font-size: 1.5em;
}

#scoreboard {
  margin-top: 20px;
  font-size: 1.2em;
}

#scoreboard p {
  margin: 5px;
}

.img-container{
    display: flex;
    width: 50%;
    height: 469px;
  width: auto;
}

body{
    background-color:lightcoral;
    font-family: Arial, sans-serif;
    color: aliceblue;
    margin: 0;
  }

h1 {
    text-align: center;
    font-size: 30px;
}

button {
    transition: transform 0.2s;
  }
  
  button:hover {
    transform: scale(1.3);
  }
  